* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 960px;
  justify-content: center;
  margin: 0 auto;
}

.li-box {
  padding-top: 50px;
}

li {
  list-style: none;
  padding: 20px 0 20px 20px;
}

li:nth-child(odd) {
  background-color: gray;
}

.boxes {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.box-color {
  background-color: yellow;
}

.box-color1 {
  background-color: orange;
}

.box-side {
  margin-right: 5%;
}

.box-size {
  width: 30%;
  height: 200px;
}

.boxes2 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.boxes3 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
